body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

.overflow-y-auto,
.overflow-x-auto {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.overflow-y-auto::-webkit-scrollbar,
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

.nav-item {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.2s,
    color 0.2s;
}
.nav-item.active {
  background-color: #af7b5c;
  color: black;
}

.cat-tab {
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s;
}

a {
  color: inherit;
  text-decoration: none;
}
